.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(45, 226, 126, 0.74);
    background-image: url(/images/Combo.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

}



.left-button {
    background-color: rgba(26, 26, 26, 0.281);
    border-style: none;
    border-radius: 75%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}

.left-button:hover , .right-button:hover{
    background-color: rgba(144, 226, 162, 0.24);
}

.left-button:active , .right-button:active{
    background-color: rgb(129, 230, 163);
}

.right-button {
    background-color: rgba(26, 26, 26, 0.281);
    border-style: none;
    border-radius: 75%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}



#video-player-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
    padding: 10px;
    background-color: rgba(31, 31, 31, 0.541);
    border-radius: 10px;
    border: 1px solid rgb(104, 248, 104);
}

#close-button {
    justify-self: center;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

#video-player {
    width: 100%;
    height: calc(100% - 50px); /* Adjust the height to leave space for the button */
    outline: none;
}

/* Style for overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none; /* Initially hidden */
}



#project-container {
    /* border: 4px solid brown; */
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1; /* Set initial opacity to 1 */
    transition: opacity 0.5s ease; /* Add transition for opacity */
    background-size: cover; /* Ensure the background image covers the container */
    background-position: center; /* Center the background image */
    cursor: pointer;
}




.middle-box-p {

    height: 790px;
    width: 1917px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.test-2 {

    margin: auto;
}

.tester {

    align-self: center;
    height: 600px;
    align-content: center;
    margin: auto;
}



.middle-box-2 {
    width: 1900px;
    height: 740px;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */

    align-self: center;
}

.middle-box-3 {

    margin: 0 auto;
    height: 100vh;
    width: 1914px;
    display: flex;
    justify-content: space-around;
}

.content {
    /* black boxes on contact page */
    width: 500px;
    height: 700px;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    flex-direction: column;
}

.content-header {
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

.content-body {
    width: 400px;
    margin: auto;
}

.content-body:hover {
    cursor: pointer;
}



/* Initially hide the after image */
#discord-img:hover + .after-img {
    display: block;
}

#discord-img:hover {
    content: url('images/discordAfter.png');
}

.after-img {
    display: none;
}

/* Adjust the size and position of the after image as needed */
.after-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.email-img:hover {
    content: url('images/emailAfter.png');
}






.left-image {
    display: flex;
    border: 1px solid rgb(87, 245, 87);
    width: 434px;
    height: auto;
    margin-left: 100px;
}

.left-page {

    height: 600px;
    width: 800px;
    display: flex;

}

.right-page {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 100%;

}

.right-image {
    margin-left: 50px;
    height: 200px;

}

.right-2 {
    margin-left: 45px;

}

.content {
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(117, 255, 152);
    margin-top: auto;
}

.nav-box {
    width: 150px;
    height: 55px;
    margin-inline: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 1;
}

.nav-box a{
    color: rgb(91, 187, 115);
    text-decoration: none;
}
.nav-box a:hover{
    cursor: pointer;
    color: rgb(62, 143, 82);
}


.upper-box {
    
    width: 100%;
    height: 125px;
    background-color: black;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.lower-box {
    width: 100%;
    height: 50px;
    background-color: black;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* THIS IS WHERE YOU ARE CURRENTLY WORKING WITHIN THE CSS *//* THIS IS WHERE YOU ARE CURRENTLY WORKING WITHIN THE CSS *//* THIS IS WHERE YOU ARE CURRENTLY WORKING WITHIN THE CSS *//* THIS IS WHERE YOU ARE CURRENTLY WORKING WITHIN THE CSS */
.middle-box {
    display: flex;
    height: 100%;
    /* border: 1px solid rgb(117, 255, 152); */
    z-index: 1;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
}

.active {
    background-color: rgba(21, 255, 0, 0.212);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 47px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}














/* THIS IS WHERE YOU ARE CURRENTLY WORKING WITHIN THE CSS *//* THIS IS WHERE YOU ARE CURRENTLY WORKING WITHIN THE CSS *//* THIS IS WHERE YOU ARE CURRENTLY WORKING WITHIN THE CSS *//* THIS IS WHERE YOU ARE CURRENTLY WORKING WITHIN THE CSS */
.logo {
    width: 25px;
    height: 25px;
    margin-inline: 25px;
    position: relative;
    z-index: 1;
}

.logo:hover {
    filter: grayscale(0%);
    filter: brightness(150%);
}

.logo-wrapper {
    margin: 5px;
}

.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(111, 209, 135);
    pointer-events: none;
    z-index: 9999;
}


